<!-- Pruebas de socket -->

<!-- <div> -->
<!-- <p>{{text}}</p> -->
<!-- <p>{{textCrypt}}</p> -->
<!-- <p>{{textDecrypt}}</p> -->
<!-- </div> -->


<!-- <button (click)="enviarMensaje()">Enviar Mensaje</button> -->


<div>
    <textarea rows="20" cols="200" [(ngModel)]="plainTextToEncrypt"></textarea>
    <br>
    <button (click)="encryptData()">Cifrar</button>
    <br>
    <textarea rows="10" cols="200">{{ encryptedText }}</textarea>
</div>

<div>
    <br>
    <textarea rows="10" cols="200" [(ngModel)]="cipherTextToDecrypt"></textarea>
    <br>
    <button (click)="decryptData()">Descifrar</button>
    <br>
    <div *ngIf="decryptedText">
        <pre class="json-pre">{{ decryptedTextParsed | json }}</pre>
      </div>
</div>
<br>
<button (click)="emitirEvento()">Emitir Evento</button>
