<nav class="sidemenu" [class.open]="open">
  <ul>
    <ng-container
      *ngTemplateOutlet="renderNodes; context: { $implicit: menuTree }"
    ></ng-container>
    <li class="bottom-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
      <a class="menu-item" [routerLink]="'settings'" (click)="onSelect()">
        <span class="icon">&#9881;</span>
        <span>Configuración</span>
      </a>
    </li>
  </ul>

  <ng-template #renderNodes let-nodes>
    <ng-container *ngFor="let node of nodes">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
        <div
          class="menu-item"
          (click)="node.children && toggleNode(node.id)"
          (keydown)="onKeydown($event, node)"
          tabindex="0"
          [attr.aria-expanded]="node.children ? isOpen(node.id) : null"
        >
          <a
            *ngIf="node.path"
            class="name-btn"
            [routerLink]="node.path"
            (click)="onSelect()"
            >{{ node.name }}</a
          >
          <button
            *ngIf="!node.path"
            class="name-btn"
            type="button"
            (click)="$event.stopPropagation()"
          >
            {{ node.name }}
          </button>
          <button
            *ngIf="node.children && node.children.length"
            class="arrow-btn"
            type="button"
            (click)="toggleNode(node.id); $event.stopPropagation()"
            [attr.aria-expanded]="isOpen(node.id)"
          >
            <span class="arrow" [class.open]="isOpen(node.id)">&#9656;</span>
          </button>
        </div>
        <ul
          class="submenu"
          *ngIf="node.children && node.children.length && isOpen(node.id)"
          [class.open]="isOpen(node.id)"
        >
          <ng-container
            *ngTemplateOutlet="renderNodes; context: { $implicit: node.children }"
          ></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</nav>
