nav.breadcrumb {
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

th,
td {
  padding: 0.75rem;
}

tbody tr:not(:last-child) td {
  border-bottom: 1px solid #565869;
}

th {
  background-color: #444654;
}

.pdf-icon {
  margin-right: 0.25rem;
  vertical-align: middle;
  color: #e53e3e;
  font-size: 1.2rem;
}
