<nav class="breadcrumb">Inicio / Cotizaciones</nav>
<h2>Cotizaciones</h2>
<div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
<table *ngIf="remisiones?.length">
  <thead>
    <tr>
      <th *ngFor="let h of headers">{{ h }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of remisiones">
      <td *ngFor="let h of headers">
        <ng-container *ngIf="h === 'file'; else defaultCell">
          <span class="material-icons pdf-icon" aria-hidden="true"
            >picture_as_pdf</span
          >
          {{ item[h] }}
        </ng-container>
        <ng-template #defaultCell>{{ displayValue(item[h]) }}</ng-template>
      </td>
    </tr>
  </tbody>
</table>
