<nav class="breadcrumb">Inicio / Cotizaciones</nav>
<h2>Cotizaciones</h2>
<div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
<table *ngIf="remisiones?.length">
  <thead>
    <tr>
      <th *ngFor="let h of headers">{{ h }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of remisiones">
      <td *ngFor="let h of headers">
        <ng-container *ngIf="h === 'file'; else defaultCell">
          <button class="file-link" (click)="openPdf(item._pdfUrl)">
            <span class="material-icons pdf-icon" aria-hidden="true"
              >picture_as_pdf</span
            >
            {{ item[h] }}
          </button>
        </ng-container>
        <ng-template #defaultCell>{{ displayValue(item[h]) }}</ng-template>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal-overlay" *ngIf="showPdfModal" (mousedown)="closePdfModal()">
  <div
    class="pdf-modal"
    (mousedown)="$event.stopPropagation()"
    (click)="$event.stopPropagation()"
  >
    <span class="close-icon material-icons" (click)="closePdfModal()">close</span>
    <object [data]="selectedPdf" type="application/pdf">
      <p>
        No se pudo visualizar el PDF.
        <a [href]="selectedPdf" target="_blank">Descargar</a>
      </p>
    </object>
  </div>
</div>
