<nav class="sidebar-nav" [class.open]="open">
  <ul>
    <ng-container *ngFor="let node of menuTree">
      <li 
        class="nav-item"
        [class.has-treeview]="node.children && node.children.length"
        [class.menu-open]="isOpen(node.id)"
        routerLinkActive="active"
      >
        <a 
          [routerLink]="node.path"
          class="nav-link"
          (click)="onItemClick(node, $event)"
          (keydown)="onKeydown($event, node)"
          tabindex="0"
          [attr.aria-expanded]="node.children ? isOpen(node.id) : null"
        >
          <p>
            {{ node.name }}
            <i *ngIf="node.children && node.children.length" class="right-arrow"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" *ngIf="node.children && isOpen(node.id)">
          <ng-container *ngFor="let child of node.children">
            <li class="nav-item">
              <a [routerLink]="child.path" class="nav-link" routerLinkActive="active">
                <p>{{ child.name }}</p>
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>
