<div class="dashboard">
  <header class="topbar">
    <button class="hamburger" (click)="toggleMenu()">&#9776;</button>
    <div class="userinfo" *ngIf="user">
      {{ user.name }} - {{ user.company }}
    </div>
    <button class="logout" (click)="onLogout()">Cerrar sesión</button>
  </header>
  <div class="body">
    <nav class="sidemenu" [class.open]="menuOpen">
      <ul>
        <li>
          <div class="menu-item" (click)="toggleSubmenu('m1')">
            <span>Menú 1</span>
            <span class="arrow" [class.open]="submenus['m1']">&#9654;</span>
          </div>
          <ul class="submenu" [class.open]="submenus['m1']">
            <li>
              <div class="menu-item" (click)="toggleSubsubmenu('m1-1')">
                <span>Submenú 1-1</span>
                <span class="arrow" [class.open]="subsubmenus['m1-1']">&#9654;</span>
              </div>
              <ul class="subsubmenu" [class.open]="subsubmenus['m1-1']">
                <li>Opción 1-1-1</li>
                <li>Opción 1-1-2</li>
              </ul>
            </li>
            <li>Submenú 1-2</li>
          </ul>
        </li>
        <li>
          <div class="menu-item" (click)="toggleSubmenu('m2')">
            <span>Menú 2</span>
            <span class="arrow" [class.open]="submenus['m2']">&#9654;</span>
          </div>
          <ul class="submenu" [class.open]="submenus['m2']">
            <li>
              <div class="menu-item" (click)="toggleSubsubmenu('m2-1')">
                <span>Submenú 2-1</span>
                <span class="arrow" [class.open]="subsubmenus['m2-1']">&#9654;</span>
              </div>
              <ul class="subsubmenu" [class.open]="subsubmenus['m2-1']">
                <li>Opción 2-1-1</li>
                <li>Opción 2-1-2</li>
              </ul>
            </li>
            <li>Submenú 2-2</li>
          </ul>
        </li>
      </ul>
    </nav>
    <main class="content">
      <h2>Bienvenido al dashboard</h2>
    </main>
  </div>
</div>
